/*HEADER*/
.header {
  background: #00587a;
  padding: 20px 0;
  margin-bottom: 30px;
}

.header--logo {
  color: #e7e7de;
  font-size: 24px;
  padding: 0 15px;
  margin: 0;
  display: inline-block;
}

/*BODY*/
.history {
  color: #00587a;
  font-size: 20px;
  padding: 0 15px;
  margin: auto;
  display: inline-block;
  text-align: center;
}

.instructions {
  color: #0f3057;
  font-size: 20px;
  padding: 0 15px;
  margin: auto;
  display: float;
  text-align: center;
}

.login {
  display: float;
  text-align: center;
}

/*INPUT*/
.entry-input {
  display: flex;
  justify-content: center;
}

#submit{
  background-color: #065c6f;
  color: #e7e7de;
  border: none;
  font-family: 'Grandstander';
}

#submit:hover {
  background-color: #00587a;
}

/*FOOTER*/
.footer{
  background: #0f3057;
  padding: 20px 0;
  margin-bottom: 30px;
  text-align: center;
}

.instagram {
  color: #e7e7de;
}
.instagram:hover {
  color: #00587a;
}

.twitter {
  color: #e7e7de;
}

.twitter:hover {
  color: #00587a;
}